<div class="container">
  <div class="row">
    <div class="col-12">
      <h3 class="bg-primary text-center text-white p-5">
        {{ username }}'s To Do List
        <h6 class="mt-1">{{ itemCount }} {{ showComplete ? "" : "Incomplete" }} Items</h6>
      </h3>
    </div>
    <div class="col-12">
      <h3>Remainings Items</h3>
    </div>
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-8">
          <input type="text" #todoText name="task" id="task" placeholder="Enter task here" class="form-control">
        </div>
        <div class="col-6 text-center">
          <button type="button" class="btn btn-primary" (click)="addItem(todoText.value)">Add</button>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h3>Remainings Items</h3>
    </div>
    <div class="col-12">
      <table class="table table-striped-table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>action</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.task }}</td>
            <td><input type="checkbox" [(ngModel)]="item.complete" name="change-todo-state" id="change-todo-state"></td>
            <td [ngSwitch]="item.complete">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchDefault>No</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <h3>Completed Items</h3>
    </div>
    <div class="col-12">
      <table class="table table-striped-table-bordered table-sm">
        <thead>
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>Done</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of completedItems; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.task }}</td>
            <td [ngSwitch]="item.complete">
              <span *ngSwitchCase="true">Yes</span>
              <span *ngSwitchDefault>No</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12">
      <div class="bg-secondary text-white text-center p-2">
        <div class="form-check">
          <input type="checkbox" [(ngModel)]="showComplete" name="" id="" class="form-check-input">
          <label for="form-check-input">
            Show Completed Tasks
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
